
@import"variables.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* ----------------FORM------------------- */


.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario__contacto{
    background-color: #E2FDFF;
    width: 30%;
    padding: 10px 0px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #7e8987;
}
.formulario__contacto{
    margin: auto;
}
.formulario__titulo{
    color: #38A3A5;
    text-align: center;
    margin: 10px 0px;
    font-family:$titulo-font;
}

.formulario__grupo{
    position: relative;
    margin: 45px;
}
.fondoContacto{
    background-color:$color-fondo;
}

input, textarea{
    background: none;
    color: #7e8987;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #38A3A5;
    resize: none;
}
input:focus, textarea:focus{
    outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #38A3A5;
}
label{
    font-family: $subtitulo-font ;
}

/*------- BOTON FORM CONTACTO----------*/
.formulario__boton{
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color:white;
    background-color: #38A3A5;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
}
.formulario__boton:hover{
    color: #EAE2B7;
}

/*--------MEDIA QUERIES contacto-------*/
@media screen and (max-width:1100px){
    .formulario__contacto{
        width: 50%;
    }
}
@media screen and (max-width:600px){
    .formulario__contacto{
        width: 60%;
    }
}
@media screen and (max-width:450px){
    .formulario__contacto{
        width: 80%;
    }
}
@media screen and (max-width:300px){
    .formulario__contacto{
        width: 90%;
    }
}


/* CATÁLOGO */
.fondoTienda{
    background-color:$color-fondo;
}



/* -MENU 1 Y SUBMENU- */


/* -------------menu principal------------*/
.navegacion{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.menuPrincipal li a{
    font-family:$subtitulo-font;
    font-size: 20px;
    color: $color-texto;
}
.menuPrincipal li a:hover{
    color: #d7d6d5;
}
.logoMenu{
    width: 70px;
}

/*------------- submenu---------------- */
.menuPrincipal li{
    display: inline-block;
    position: relative;
}
.menuPrincipal li ul{
    position: absolute;
    display: none;
}
.menuPrincipal li ul li{
    display: block;
}
.menuPrincipal li:hover ul{
    display: block;
}





/* SECCION 1 */
.parrafo{
    color: $color-texto;
    font-size: 20px;
    font-family:$subtitulo-font ;
    text-align: justify;
}




/* SECCION 2 */
.subtituloMenu2{
    text-align: center;
    font-family: $titulo-font;
    margin-top: 60px;
    color: $color-texto;
}
.imagenMenu2{
    display: block;
    width: 100%;
    height: 90%;
}
.menu2{
    text-align: center;
    font-family: $subtitulo-font;
    font-size: 20px;
    color: $color-texto;
    text-align: center;
}
.menu2:hover{
    color: #38A3A5;
}



/* SECCION 3 */
.subtituloProductos{
    text-align: center;
    font-family:$titulo-font;
    margin-top: 60px;
    color: $color-texto;
}
.img{
    display: block;
    width: 25%;
    height: 70%;
    margin: auto;
}  
.productos div h3{
    font-family:$subtitulo-font;
    font-size: 20px ;
    color: $color-texto;
    text-align: center;
}

.imagenProd{
    display: block;
    width: 100%;
    height: 100%;
}
.box{
    z-index: -1;
}





/* -------------footer----------- */
footer{
    background-color: #38A3A5;
    padding: 50px 0px;
    margin-top: 60px;
}
.imagen__footer{
    width: 20px;
    height:20px;
}
.logo{
    width: 180px;
}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.caja__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.caja__footer h2{
    margin-bottom: 30px;
    color:#C9E265 ;
    font-family:$titulo-font;
}
.caja__footer a{
    text-decoration: none;
    margin-top: 10px;
    color: $color-texto;
    font-family:$subtitulo-font; 
    font-weight:600;
}
.caja__footer a:hover{
    opacity: 0.8;
}
.descripcion{
    max-width: 350px;
    margin-top: 20px;
    font-size: 20px;
    color: $color-texto;
    font-family:$subtitulo-font;
}
.caja__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.caja__copyright p{
    margin-top: 20px;
    color: white;
    font-family:$subtitulo-font;
}
.caja__copyright hr{
    color: white;
}






/* --------------NOSOTROS ------------*/
.mainNosotros{
    display: grid;
    grid-template-areas:
    'quienesSomos quienesSomos'
    'soy soy';
    grid-template-columns: 10fr 10fr;
    padding-bottom: 25%;
}
.quienesSomos{
    grid-area: quienesSomos;
}
.soy{
    grid-area: soy;
    padding: 0px 30px 0px 30px;
}

.tituloNosotros{
    font: size 35px;
    font-family: $titulo-font;
    text-align: center;
    padding-top: 60px;
}
.parrafoNosotros{
    font-family:$subtitulo-font;
    font-size: 20px;
    text-align: justify;
}
.fondoNosotros{
    background-image: url('../media/fondo.jpg');
    background-size: 100%;
    z-index: -1;
}




/* --------------TERAPIAS ALTERNATIVAS-------------- */

/* REIKI */
.tituloReiki{
    font-family: $titulo-font;
    font-size: 20px;
    padding: 8px;
    color: $color-titulo;
    
}
.subtituloReiki{
    font-family: $subtitulo-font;
    font-size: 25px;
}
.contenedorReiki div p{
    font-family:$subtitulo-font;
    font-size: 20px;
}
.contenedorReiki{
    display: grid;
    grid-template-areas: 
    "reiki1"
    "reiki2"
    "reiki3";
}
.reiki1{
    grid-area: reiki1;
    margin: 15px;
    text-align: center;
    
}
.reiki2{
    grid-area: reiki2;
    margin: 30px;
    text-align: center;
   
}
.reiki3{
    grid-area: reiki3;
    margin: 30px;
    text-align: center;
}

.main2{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.logosMenu2{
    width: 50px;
    height: 50px;
}



/* TERAPIA FLORAL */
.tituloFloral{
    font-family:$titulo-font;
    font-size: 30px;
    padding-top: 8px;
    color: $color-titulo;
}

.contenedorFloral{
    display: grid;
    grid-template-areas: 
    "floral1"
    "floral2"
    "floral3"
}
.floral1{
    grid-area: floral1;
    margin-bottom: 5%;
    text-align: center;
}
.floral2{
    grid-area: floral2;
    display: flex;
    justify-content: center;
}
.floral3{
    grid-area: floral3;
    display: flex;
    justify-content:center;
    margin-bottom: 8%;
}    
.floral1 div p{
    font-family:$subtitulo-font;
    font-size: 20px;
}
.listaFloral{
    font-family:$subtitulo-font;
    font-size: 20px;
}
.subtituloFloral{
    font-family: $subtitulo-font;
    font-size: 25px;
}



/* TERAPIA HOLISTICA */
.tituloHolistica{
    font-family:$titulo-font;
    font-size: 15px;
    padding-top: 8px;
    color: $color-titulo;
}
.contenedorHolistica{
    display: grid;
    grid-template-areas: 
    "holistica1"
    "holistica2"
    "holistica3";
}
.holistica1{
    grid-area: holistica1;
    margin-bottom: 35px;
    text-align: center
}
.holistica2{
    grid-area: holistica2;
    display: flex;
    justify-content:center;
}
.holistica3{
    grid-area: holistica3;
    display: flex;
    justify-content:center
}
.holistica1 div p{
    font-family:$subtitulo-font;
    font-size: 20px;
}
.listaHolistica{
    font-family:$subtitulo-font;
    font-size: 20px;
}
.subtituloHolistica{
    font-family:$subtitulo-font ;
    font-size: 25px;
}







/*--------------------TIENDA------------------*/

/*CATEGORIAS*/

#categorias{
    display: flex;
    justify-content: center;
    background-color:#38A3A5 ;
}
.navItem{
    text-decoration: none;
    margin: 15px;
    color: #C9E265;
    font-family:$subtitulo-font;
    font-size: 20px; 
    cursor: pointer;
}
.navItem:hover{
    color: white;
}



/*CARDS*/

.contenedorProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background: white;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width:330px ;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    /* z-index: -1; */
}
.cardTexto{
    margin: 0.5rem;
}
.categoria{
    font-weight: 400;
    opacity: 0.7;
}
.nombre{
    color: $color-titulo;
    font-family:$titulo-font ; 
}
.precio{
    font-size: large;
}
.desc{
    font-size: large;
}
.imagenCard{
    border-radius: 1rem;
}

/* BOTON AGREGAR */
.botonAdd{
    cursor: pointer;
}
.botonAdd{
    background-color:#38A3A5 ;
    color:#C9E265 ;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;

}
.botonAdd:hover{
    color: white;
}



/*  MODAL */

.modal-title{
    color: $color-titulo;
    font-family:$titulo-font ; 
    font-size: 20px;
}
.modal-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
}
.modal-text{
    font-family: $subtitulo-font;
    font-size: 15px;
}


//------------------- modal footer------------------
.precioProducto{
    font-family: $titulo-font;
    font-size: 15px;
    color: $color-titulo;
}
#precioTotal{
    font-family: $subtitulo-font;
    font-size: 20px;
}

//----------- boton para abrirlo ------------
#abrir-modal{
    border: none;
    color:#38A3A5 ;
    font-size: 25px;
    background-color: $color-fondo ;
    border-radius: 50%;
    padding: 5px 15px;
    transition: all .3s;
}
#boton-modal{
    height: 30px;
}
#abrir-modal:hover{
    background-color: #38A3A5;
}

//------------ boton para eliminar ------------- 
.boton-eliminar{
    border: none;
    border-radius: 5px;
    background-color:$color-fondo;
}
.boton-eliminar:hover{
    opacity: 0.8;
}
.basura{
    height: 30px;
}

//---------------boton comprar -----------------
#botonComprar{
    background-color:#38A3A5 ;
    color:#C9E265 ;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}
#botonComprar:hover{
    color: white;
}